# API Configuration
# Main API endpoint
NEXT_PUBLIC_API_URL="https://echo.pilput.net"
# App API endpoint (auth, users, chat, holdings, feed)
NEXT_PUBLIC_API_URL_2="https://hono.pilput.net"

# Storage Configuration
# Used for general storage URL (Config.storagebaseurl)
NEXT_PUBLIC_STORAGE_URL="https://d42zd71vraxqs.cloudfront.net"

# Application Domain & URL
NEXT_PUBLIC_MAIN_URL="https://pilput.net"
NEXT_PUBLIC_DOMAIN="pilput.net"